@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

@layer utilities {
    .vh-negative-top {
        position: absolute;
        top: -100vh;
    };
    .initial {
        position: initial;
    };
};